<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<marquee behavior="scroll" direction="left" scrollamount="10">Welcome to the Registration Page! Please create your account below.</marquee>
<div class="login-container">

    <div class="login-box">

        <h2>Create Account 🚀</h2>

        <form action="/register" method="POST" enctype="multipart/form-data">

            <input type="text" name="username" placeholder="Username" required>

            <input type="password" name="password" placeholder="Password" required>

            <input type="file" name="profile_pic">

            <button type="submit">Register</button>

        </form>

    </div>

</div>

</body>
</html>